/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* elements */

body {
    background-color: #000;
    color: #fff;
    margin: 0;
}

a {
    color: inherit;
}

ul {
    font-size: 20px;
    margin-top: 20px;
}

ul li:not(:last-child) {
    margin-bottom: 10px;   /* espai entre elements de la llista */
}

img {
    /* fer que la imatge no sigui seleccionable */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* container (Bootstrap) */

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } }

/* layout */

.layout {
    display: flex;
}

/* side nav */

.sidenav {
    height: inherit;
    width: 320px;
    background-image: linear-gradient(#111, #000 75%);
}

.profile-picture {
    height: 200px;
    width: 200px;
    margin: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.sidenav-content {
    margin-left: 24px;
}

.contact {
    font-size: 18px;
}

.skills, .languages, .socials {
    margin-top: 60px;
}

.skills, .languages span {
    font-size: 32px;
}

.socials {
    font-size: 40px;
}

.socials a {
    margin-right: 10px;
}

.language-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0;
}

.language-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lang-name {
    font-size: 24px;
    margin: 0;
}

.lang-level {
    font-size: 16px;
    margin-top: 5px;
    opacity: 0.8;
}

/* main content */

.main {
    padding-left: 60px;
    width: 100%;
}

.title {
    margin-top: 60px;
}

.title span {
    font-size: 64px;
}

.title p {
    font-size: 24px;
    background: -webkit-linear-gradient(0deg, #666, #444 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content {
    margin-top: 60px;
    background-image: linear-gradient(135deg, #111, #000 50%);
    padding: 40px;
    width: 100%;
}

.main-content span {
    font-size: 40px;
}

.card-wrapper {
    margin-top: 40px;
}

.company-card {
    display: flex;
    align-items: stretch;
}

.company-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: contain;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px 0;
}

.company-name {
    font-size: 24px;
    margin: 0;
}

.company-position {
    font-size: 20px;
    margin: 0;
}

.company-dates {
    font-size: 16px;
    margin: 0;
}

.vertical-line {
    width: 1px;
    height: 60px;
    background-color: #fff;
    margin: 20px 49.5px;
}

/* portfolio */

.portfolio {
    margin-top: 60px;
}

.portfolio-title {
    font-size: 40px;
}

.portfolio-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.portfolio-item {
    background-image: linear-gradient(135deg, #111, #000 50%);
    padding: 40px;
}

.portfolio-item-title {
    font-size: 36px;
}

.portfolio-item-description {
    font-size: 20px;
}

.portfolio-languages {
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 0;
}

.portfolio-language {
    background-color: #444;
    padding: .5rem .9rem;
    margin-right: .5rem;
}

/* language colors */

.cpp {
    color: rgb(243, 75, 125);
    background-color: rgba(243, 75, 125, 0.1);
}

.css {
    color: rgb(102, 51, 153);
    background-color: rgba(102, 51, 153, 0.1);
}

.go {
    color: rgb(0, 173, 216);
    background-color: rgba(0, 173, 216, 0.1);
}

.js {
    color: rgb(241, 224, 90);
    background-color: rgba(241, 224, 90, 0.1);
}

.php {
    color: rgb(79, 93, 149);
    background-color: rgba(79, 93, 149, 0.1);
}

.py {
    color: rgb(53, 114, 165);
    background-color: rgba(53, 114, 165, 0.1);
}

.sh {
    color: rgb(137, 224, 81);
    background-color: rgba(137, 224, 81, 0.1);
}

/* footer */

footer {
    padding: 1px 0;
    font-size: 16px;
    margin-top: 60px;
    text-align: center;
    background-image: linear-gradient(90deg, #000, #111, #000);
}
